<p>Terima kasih anda telah mengisi form pemesanan online Christine Spiku, perwakilan kami akan segera menghubungi Anda.</p>
<table>
	<tr> 
		<td>Name</td>
		<td>:</td>
		<td>{{ data.name }}</td>
	</tr>
	<tr>
		<td>Email</td>
		<td>:</td>
		<td>{{ data.email }}</td>
	</tr>
	<tr>
		<td>Phone</td>
		<td>:</td>
		<td>{{ data.phone }}</td>
	</tr>
	
</table>

<p>Copyright &copy; 2016.</p>