{% extends layout %}
{% block title %}Our Services - {% endblock %}
{% block menu %}service{% endblock %}
{% block content %}
	<h1 style="visibilty: none; display:none;">Our Services - Sitondi</h1>
	<div class="container prelatife">

		<div class="blocks_bottom_intop_page">
			<div class="pict_ill">
				<img src="{{ app.request.baseurl }}/asset/images/ill-services.jpg" alt="" class="img-responsive center-block">
			</div>
		</div>
		<div class="clear"></div>

		<div class="content-text text-center">
			<div class="mw840 tengah">
				<h2 class="title_page">SERVICES</h2>
				<div class="clear"></div>
				<span>Sitondi operates according to the standard of Denso authorised dealer,&nbsp;we fully understand that extreme care is what our customers&rsquo; wanted,&nbsp;therefore it has became our first priority</span>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear height-50"></div>
		<div class="clear height-30"></div>

		<div class="lists_service_topdefl">
			<div class="row">
				<div class="col-md-4">
					<div class="items">
						<div class="pict"><img src="{{ app.request.baseurl }}/asset/images/services-1.jpg" alt="" class="img-responsive"></div>
						<div class="descs">
							<span class="s_title">Car Air Conditioner (AC) <br> Service & Repair</span>
							<div class="clear"></div>
							<p>From European cars, American cars, Japanese cars, and other Asian cars, Sitondi has all the mastery to perform serious service overhauls.</p>
							<div class="clear"></div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="items">
						<div class="pict"><img src="{{ app.request.baseurl }}/asset/images/services-2.jpg" alt="" class="img-responsive"></div>
						<div class="descs">
							<span class="s_title">Minibus & Bus Installation, <br>Maintenance and Repair</span>
							<div class="clear"></div>
							<p>Minibus and Bus requires advanced skill to deal with complicated detail in electricity and wiring. Sitondi has all what it takes!</p>
							<div class="clear"></div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="items">
						<div class="pict"><img src="{{ app.request.baseurl }}/asset/images/services-3.jpg" alt="" class="img-responsive"></div>
						<div class="descs">
							<span class="s_title">Transport Refrigerator Installation, <br>Maintenance and Repair</span>
							<div class="clear"></div>
							<p>Sitondi also provide Transport Refrigerator Installation, Maintenance and Repair.</p>
							<div class="clear"></div>
						</div>
					</div>
				</div>

			</div>
		</div>
		{# end list services top default #}
		
		<div class="clear height-40"></div>
		<div class="clear height-50"></div>
		<div class="clear"></div>
	</div>

	<section class="back-grey services_middleblock">
		<div class="clear height-50"></div>
		<div class="clear height-20"></div>
		<div class="prelatife container">
			<div class="content-text text-center">
				<h3 class="greys">It is beyond our customers&rsquo; expectation - the way we handle your car.</h3>
				<div class="clear height-50"></div><div class="height-15"></div>
				<div class="lists_services_bottoms_f">
					<div class="row">
						<div class="col-md-4">
							<div class="items">
								<div class="titles">CLEAN</div>
								<div class="clear height-10"></div>
								<div class="center">
									<div class="backs_line_vertical_mddils"></div>
								</div>
								<div class="clear height-25"></div>
								<p>Sitondi has its&rsquo; reputable standard when it comes to cleanliness. We put seats cover and fenders cover, and we make sure that all operations are done with clean hands and clean finishing.</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="items">
								<div class="titles">CARE</div>
								<div class="clear height-10"></div>
								<div class="center">
									<div class="backs_line_vertical_mddils"></div>
								</div>
								<div class="clear height-25"></div>
								<p>Sitondi puts its&rsquo; client concern towards detail at a priority level. We understand that even a minor scratch would turn our customers down, therefore we put extra care on every little things that we do.</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="items">
								<div class="titles">CONCERN</div>
								<div class="clear height-10"></div>
								<div class="center">
									<div class="backs_line_vertical_mddils"></div>
								</div>
								<div class="clear height-25"></div>
								<p>Sitondi&rsquo;s concern is towards all types and all class of vehicles. Sitondi doesn&rsquo;t classify vehicle by such class as low-end or medium-end because all vehicles that enters our workshop will be treated as premium.</p>
							</div>
						</div>

					</div>
				</div>

				<div class="clear"></div>
			</div>
			<div class="clear height-50"></div>
			<div class="clear height-10"></div>
			<div class="clear"></div>			
		</div>
	</section>
{% endblock %}
